body {
  margin: 0;
}

header {
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -100;
}

h1 {
  color: white;
}
