body {
  max-width: 900px;
  margin: 0 auto;
}
/* HEADER NAVIGATION */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

.nav li {
  display: inline;
  padding: 10px;
  background: teal;
  border-radius: 3px;
}

button {
  height: 30px;
}

/* BOXES */
div{
  background: salmon;
  display: inline-block;
  width: 24%;
  padding: 30px;
  box-sizing: border-box;
}

/* MEDIA QUERIES */
@media(max-width: 900px) {
  h1 {
    color: red;
  }

  div {
    width: 48%;
    margin: 10px 0;
  }
}

@media(max-width: 767px) {
  nav {
    display: block;
  }

  h1 {
    color: black;
  }

  .nav li {
    display: block;
    margin: 10px 0;
  }

  div {
    width: 100%;
  }
}
